.todo-list li .icon-pause,
.todo-list li .icon-play {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.todo-list li .icon-play {
  font-size: 15px;
}

.icon-pause:after {
  content: '⏸';
}

.icon-play:after {
  content: '▶';
}

.time {
  display: inline-block;
  position: relative;
  left: 3px;
}

.todo-list li .icon-play:hover.icon-play:disabled {
  color: rgba(0, 0, 0, 0.24);
}

.todo-list li .icon-play:disabled {
  color: rgba(0, 0, 0, 0.24);
}
